.navbar {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.3rem;
  list-style-type: none;
  border-bottom: 1px solid gray;
  background-color: #f9f9f9;

  & > li {
    float: left;
    margin: 0 0.3rem;

    & button {
      padding: 0.5rem 2.5rem;
      cursor: pointer;
      transition: background-color 0.3s, box-shadow 0.3s;
      text-align: center;
      text-decoration: none;
      color: black;
      border: 1px solid gray;
      border-radius: 5px;
      background-color: white;

      &:hover {
        background-color: #e8e8e8;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
    }

    & > .button-group {
      display: flex;

      & > button:first-child {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      & > button:last-child {
        min-width: 2.75rem;
        padding: 0.5rem;
        border: 1px solid gray;
        border-left: none;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }
  }
}

.section {
  display: flex;
  overflow-x: auto;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;

  & > * {
    flex: 1 1 0;
    max-width: 600px;
  }
}