ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.3rem;
  list-style-type: none;
  border-bottom: 1px solid gray;
  background-color: #f9f9f9;
}

li {
  float: left;
  margin: 0 0.3rem;
}

.tab {
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-align: center;
  text-decoration: none;
  color: black;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: white;

  &:hover {
    background-color: #e8e8e8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
}

.section {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}