form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 0.75rem;
}

label {
  font-weight: bold;
  display: block;
  color: black;
}

input[type="text"],
input[type="number"],
input[type="submit"] {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  display: block;
  width: calc(100% - 1rem);
  margin: 0.75rem auto;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
  background-color: #007bff;

  &:hover {
    background-color: #0056b3;
  }
}