form {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 0.75rem;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

label {
  font-weight: normal;
  color: black;
}

input[type="text"],
input[type="number"],
input[type="submit"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="checkbox"] {
  width: auto;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
}

.icon {
  cursor: pointer;
  font-size: 1.5rem;
}

.edit-btn, .save-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;

   &:hover {
     background-color: #0056b3;
   }
}

.save-btn {
  background-color: #28a745;
  color: white;
  display: none;
  transition: background-color 0.3s;

  &:hover {
    background-color: #218838;
  }
}