:host {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}

input[type="range"] {
  -webkit-appearance: none;
  grid-column: 1/span 2;
  grid-row: 3;
  z-index: 1;
  margin: 0;
  background: none;
}

input[type="number"] {
  width: 3rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 0.3rem 0.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.slider {
  --current: 0;
  --expected: 0;
  --min: -1.0;
  --max: 1.0;
  --length: calc(var(--max) - var(--min));
  --diameter: 1em;
  --radius: calc(var(--diameter) / 2.0);
  --track-width: calc(100% - var(--diameter));

  flex: auto;
  display: grid;
  grid-template: repeat(2, max-content) var(--diameter) / 1fr 1fr;
  overflow: hidden;
  position: relative;
  margin: 1em auto;
  border: 1px solid #ccc;
  border-radius: 50px;

  &::before,
  &::after {
    grid-column: 1/span 2;
    grid-row: 3;
    border: 1px solid #ccc;
    background: linear-gradient(90deg in oklab, #ffaabe, #7abbe3);
    content: "";
  }

  &::before {
    margin-left: calc(var(--radius) + (var(--current) - var(--min)) / var(--length) * var(--track-width));
    width: calc((var(--expected) - var(--current)) / var(--length) * var(--track-width));
  }

  &::after {
    margin-left: calc(var(--radius) + (var(--expected) - var(--min)) / var(--length) * var(--track-width));
    width: calc((var(--current) - var(--expected)) / var(--length) * var(--track-width));
  }
}

.switch {
  width: 3.5rem;
  background-color: #007bff;

  &:hover {
    background-color: #0056b3;
  }
}

.calibrate {
  background-color: red;

  &:hover {
    background-color: #b30000;
  }
}